# Copy this file to "application-local.properties" and set your local DB password.
# application-local.properties is gitignored and will NOT be committed.
spring.datasource.password=your_local_postgres_password
