@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: hsl(228, 6%, 8%);
    --main-color: #11b902b8;
    --text-color: #c3cdc3;
    --second-text-color: #bab2b2;
    --white-color: #fff;
    --cover-color: linear-gradient(45deg, #11b902b8, #409a00);
    --pages-color: linear-gradient(90deg, #333131b9, #333131b9);
    --border: .125rem solid #11b902b8;
    --box-shadow: 0 0 .6rem rgba(78, 73, 73, 0.2);
}

.back-button2 {
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent; /* Remove fill */
    color: #fff; /* Color of the arrow icon */
    border: 2px solid #fff; /* White border */
    border-radius: 50%;
    font-size: 1.2rem;
    text-decoration: none;
    z-index: 10;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for color and background */
}

.back-button2:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Slight white fill on hover */
    color: var(--primary-clr); /* Change icon color on hover */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
    overflow: hidden;
}

.wrapper {
    position: relative;
    width: 66rem;
    height: 45rem;
    padding: 2rem;
    perspective: 250rem;
    animation: show-animate 2s forwards;
}

@keyframes show-animate {
    0%,30% {
        opacity: 0;
        transform: rotate(-20deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}



.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--cover-color);
    box-shadow: var(--box-shadow);
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
    transform-origin: right;
}

.cover.cover-left {
    z-index: -1;
}

.cover.cover-right {
    z-index: 100;
    transition: transform 1s cubic-bezier(.645, .045, .355, 1);
}

.cover.cover-right.turn {
    transform: rotateY(180deg);

}

.book {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    perspective: 250rem;
}

.book .book-page {
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--pages-color);
    box-shadow: 0 0 .6rem rgba(0, 0, 0, .1);
    display: flex;
    padding: 2rem;
}

.book-page.page-left {
    box-shadow: -.6rem .6rem .6rem rgba(0, 0, 0, .1);
}

.profile-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-page img {
    max-width: 180px;
    border-radius: 50%;
    border: .25rem solid var(--main-color);
    margin-bottom: .8rem;
}

.profile-page h1 {
    font-size: 2.7rem;
    line-height: 1;
}

.profile-page h3 {
    font-size: 1.5rem;
    color: var(--main-color);
}


.profile-page p {
    text-align: justify;
}

.profile-page .btn-box {
    display: flex; /* This will make your .btn-box a flex container */
    align-items: center; /* This will vertically center align the flex items */
    justify-content: flex-start; /* This will align the flex items to the start of the container */
    gap: 1rem; /* This will add space between the button and the link */
    margin-top: 1.2rem;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 9.5rem;
    height: 3rem;
    background: var(--main-color);
    border: var(--border);
    border-radius: .3rem;
    font-size: 1rem;
    color: var(--white-color);
    font-weight: 500;
    margin: 0 1rem;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    background: var(--main-color);
    color: var(--white-color);
}

.book-page.page-right {
    position: absolute;
    right: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform 1s cubic-bezier(.645, .045, .355, 1);
}

.book-page.page-right.turn {
    transform: rotateY(-180deg);
}

.book-page .page-front,
.book-page .page-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--pages-color);
    padding: 1.5rem 2rem;
}

.book-page .page-front {
    transform: rotateY(0deg) translateZ(1px);
}

.book-page .page-back {
    transform: rotateY(180deg) translateZ(1px);
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

.workeduc-box {
    border-left: var(--border);
}

.workeduc-box .workeduc-content {
    position: relative;
    padding-left: 1.6rem;
    margin-bottom: 1.2rem;
}

.workeduc-box .workeduc-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -0.65rem;
    width: 1.2rem;
    height: 1.2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.workeduc-content .year {
    color: var(--main-color);
}

.workeduc-content .year i {
    margin-right: .4rem;
}

.number-page {
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
}

.nextprev-btn {
    position: absolute;
    bottom: .9rem;
    right: 1.5rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    font-size: 2rem;
    color: var(--second-text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.nextprev-btn:hover {
    color: var(--main-color);
}

.nextprev-btn.back {
    left: 1.5rem;
}

.services-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.services-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.services-box .services-content {
    flex: 1 1 auto;
    border: var(--border);
    border-radius: .5rem;
    padding: .8rem .5rem 1.1rem;
    text-align: center;
    transition: .3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрирование содержимого внутри services-content по вертикали */
    align-items: center;
}



.services-box .services-content:hover {
    box-shadow: var(--box-shadow);
}

.services-content i {
    font-size: 2.5rem;
    color: var(--main-color);
}

.services-content h3 {
    font-size: 1.1rem;
}

.services-content p {
    margin: .2rem 0 .8rem;
}

.services-content img {
    max-width: 180px;
    border-radius: 50%;
    border: .25rem solid var(--main-color);
    margin-bottom: .8rem;

}

.services-content .btn {
    width: 8rem;
    height: 2.5rem;
}

.skills-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.skills-box .skills-content {
    flex: 1 1 20rem; /* Ограничение минимального размера контейнера навыков */
}

.skills-content h3 {
    font-size: 1.3rem;
    line-height: 1;
    margin-bottom: .6rem;
}

.skills-content .content {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
}

.skills-content .content span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem; /* Установленная ширина для span */
    height: 5rem; /* Установленная высота для span */
    border: var(--border);
    border-radius: .3rem;
    font-weight: 600;
    transition: .3s ease;
    padding: 0.5rem;
    overflow: hidden;
    text-align: center;
    background: var(--bg-color); /* Предположим, что у вас есть переменная --bg-color */
}

.skills-content .content span span {
    font-size: 0.7rem; /* Уменьшенный размер текста */
    overflow: hidden; /* Скрываем все, что не помещается */
    text-overflow: ellipsis; /* Добавляем многоточие, если текст не влезает */
    white-space: nowrap; /* Устанавливаем текст в одну строку */
    max-width: 100%; /* Ограничиваем ширину текста шириной родителя */
}

.skills-content .content span:hover {
    box-shadow: var(--box-shadow);
}


.portfolio-box .img-box {
    display: flex;
    width: 100%;
    height: 15rem;
    border: var(--border);
    border-radius: .5rem;
    overflow: hidden;
}

.portfolio-box .img-box img {
    width: 100%;
    object-fit: cover;
    transition: .5s ease;
}

.portfolio-box .img-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .info-box {
    margin: 1rem 0 1.5rem;
}

.portfolio-box .info-box .info-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.portfolio-box .info-box .info-title h3 {
    font-size: 1.3rem;
}

.portfolio-box .info-box .info-title a {
    display: flex;
    align-items: center;
    color: var(--main-color);
}

.portfolio-box .info-box .info-title a i {
    margin-left: .3rem;
}

.portfolio-box .info-box p:nth-of-type(1) {
    font-weight: 600;
}

.portfolio-box .btn-box {
    display: flex;
    justify-content: center;
}


.portfolio-box .btn-box .btn {
    margin: 0 1.15rem;
}



.back-profile {
    position: absolute;
    bottom: 1.2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: var(--border);
    border-radius: .3rem;
    font-size: 1.1rem;
    color: var(--main-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.back-profile:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.back-profile p {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.5);
    font-size: 1rem;
    color: var(--main-color);
    opacity: 0;
    transition: .5s;
}

.back-profile:hover p {
    opacity: 1;
    transform: translateX(-50%) scale(1);
    top: -1.8rem;
}

/* Модал */

.container{
    width: 100%;
    max-width: 100px; /* Новое значение */
    background: rgba(0, 0, 0, 0);
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px rgb(187, 176, 176);
}


.form-title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: rgba(5, 210, 49, 0.81);
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px rgb(7, 101, 18);
}

.main-user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: calc(33.3333% - 10px); /* Это уже установлено */
    padding: 10px; /* Можно уменьшить, если необходимо */
    margin-right: 5px;
    box-sizing: border-box; /* Учитываем padding и border в ширине элемента */
}

.user-input-box label{
    width: 95%;
    color: rgb(168, 158, 158);
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.user-input-box input,
.user-input-box select,
.custom-radio {
    height: 30px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
    background-color: #c1c5c1d5;
}



.gender-title{
    color:rgb(168, 158, 158);
    font-size: 24px;
    font-weight: 600;

}

.gender-category{
    margin: 15px 0;
    color: rgb(168, 158, 158);
}

.gender-category label{
    padding: 0 20px 0 5px;
}

.gender-category label,
.gender-category input,
.form-submit-btn input{
    cursor: pointer;
}

.form-submit-btn{
    margin-top: 40px;
}

.form-submit-btn input{
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border:none;
    border-radius: 3px;
    color: rgb(209, 209, 209);
    background: rgba(10, 158, 7, 0.7);
}

.form-submit-btn input:hover{
    background: rgba(5, 210, 49, 0.81);
    color: rgba(13, 17, 13, 0.81);
}

@media(max-width: 600px){
    .user-input-box{
        margin-bottom: 12px;
        width: 100%; /* Верните это значение к 33.3333%, если хотите 3 колонки и на мобильных устройствах */
    }

    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }

    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }

    .gender-category{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(17, 13, 13, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #2e2a2a;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #d4c6c6;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgba(11, 208, 34, 0.784);
    text-decoration: none;
    cursor: pointer;
}



