<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
            integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/calendar.css"/>
    <title>Calendar</title>
</head>
<body>

<div class="container">
    <a href="javascript:history.back()" class="back-button"><i class="fas fa-arrow-left"></i></a>
    <div class="left">
        <div class="calendar">
            <div class="month">
                <i class="fas fa-angle-left prev"></i>
                <div class="date">december 2015</div>
                <i class="fas fa-angle-right next"></i>
            </div>
            <div class="weekdays">
                <div>Вс</div> <!-- Воскресенье -->
                <div>Пн</div> <!-- Понедельник -->
                <div>Вт</div> <!-- Вторник -->
                <div>Ср</div> <!-- Среда -->
                <div>Чт</div> <!-- Четверг -->
                <div>Пт</div> <!-- Пятница -->
                <div>Сб</div> <!-- Суббота -->
            </div>
            <div class="days"></div>
            <div class="goto-today">
                <div class="goto">
                    <label>
                        <input type="text" placeholder="дд/гггг" class="date-input" />
                    </label>
                    <button class="goto-btn">Go</button>
                </div>
                <button class="today-btn">Сегодня</button>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="today-date">
            <div class="event-day">wed</div>
            <div class="event-date">12th december 2022</div>
        </div>
        <div class="events"></div>
        <div class="add-event-wrapper">
            <div class="add-event-header">
                <div class="title">Добавить Событие</div>
                <i class="fas fa-times close"></i>
            </div>
            <form class="add-event-form">
                <div class="add-event-body">
                    <div class="add-event-input">
                        <label>
                            <input type="text" placeholder="Название События" class="event-name"/>
                        </label>
                    </div>
                    <div class="add-event-input">
                        <label>
                            <input
                                    type="text"
                                    placeholder="Время Начала"
                                    class="event-time-from"
                            />
                        </label>
                    </div>
                    <div class="add-event-input">
                        <label>
                            <input
                                    type="text"
                                    placeholder="Время Окончания"
                                    class="event-time-to"
                            />
                        </label>
                    </div>
                </div>
            <div class="add-event-footer">
                <button class="add-event-btn">Добавить Событие</button>
             </div>
            </form>
        </div>
    </div>
    <button class="add-event">
        <i class="fas fa-plus"></i>
    </button>
</div>
<script src="/js/calendar.js"></script>
</body>
</html>
