<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Game</title>
    <link rel="stylesheet" href="/css/game_shablon.css">
</head>
<body>
<div class="container">
    <div class="drop" style="--clr:#ff0f5b">
        <div class="content">
            <h2>01</h2>
            <p>Башня</p>
            <a href="/game1">Играть</a>
        </div>
    </div>
    <div class="drop" style="--clr:#be01fe">
        <div class="content">
            <h2>02</h2>
            <p>Кубик</p>
            <a href="/game2">Играть</a>
        </div>
    </div>
    <div class="drop" style="--clr:#01b4ff">
        <div class="content">
            <h2>03</h2>
            <p>Змейка</p>
            <a href="/game3">Играть</a>
        </div>
    </div>
    <div class="drop" style="--clr:#ff0f5b">
        <div class="content">
            <h2>04</h2>
            <p>какая-то игра</p>
            <a href="#">Играть</a>
        </div>
    </div>
    <div class="drop" style="--clr:#be01fe">
        <div class="content">
            <h2>05</h2>
            <p>какая-то игра</p>
            <a href="#">Играть</a>
        </div>
    </div>
    <div class="drop" style="--clr:#01b4ff">
        <div class="content">
            <h2>06</h2>
            <p>какая-то игра</p>
            <a href="#">Играть</a>
        </div>
    </div>
</div>
</body>
</html>
